implementacion de los clientes/ClienteDesktop_WS/xml-resources/web-service-references/ServicioHoras/wsdl/localhost_61799/WSSoap_prueba/ServicioHoras.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://UDDI/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://UDDI/">

<xs:element name="horas" type="tns:horas"/>

<xs:element name="horasResponse" type="tns:horasResponse"/>

<xs:element name="pago" type="tns:pago"/>

<xs:element name="pagoResponse" type="tns:pagoResponse"/>

<xs:complexType name="pago">
<xs:sequence>
<xs:element name="pago" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horas">
<xs:sequence>
<xs:element name="h1" type="xs:double"/>
<xs:element name="h2" type="xs:double"/>
<xs:element name="h3" type="xs:double"/>
<xs:element name="h4" type="xs:double"/>
<xs:element name="h5" type="xs:double"/>
<xs:element name="h6" type="xs:double"/>
<xs:element name="h7" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horasResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>